.header-item {
  display: inline-block;
}

.input-container {
  background-color: #f3f9fb;
  border: none;
}

input {
  background-color: #f3f9fb;
  outline: none;
  color: #666666;
  font-size: small;
  font-weight: normal;
}

mat-icon {
  color: var(--brand_blue);
  border: none;
  padding: 0;
  margin: 0;
  font-size: large;
  font-weight: lighter;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo {
  color: var(--brand_blue);
  border: none;
  padding: 0;
  margin: 0;
  font-size: xx-large;
  font-weight: bold;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo-icon {
  color: var(--brand_blue);
  border: none;
  padding: 0;
  margin: 0;
  font-size: x-large;
  font-weight: lighter;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo-icon-parent {
  background-color: #f3f9fb;
  border-radius: 20%;
  height: 45px;
  width: 45px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
