<div class="d-flex justify-content-center align-items-center w-100 h-100">
  <form class="mat-elevation-z4 p-5">
    <h2 class="mb-4">Login</h2>
    <mat-form-field class="w-100">
      <input
        matInput
        placeholder="Username"
        type="username"
        [(ngModel)]="username"
        name="username"
      />
    </mat-form-field>
    <mat-form-field class="w-100">
      <input
        matInput
        placeholder="Psername"
        type="password"
        [(ngModel)]="password"
        name="password"
      />
    </mat-form-field>
    <div class="d-flex justify-content-center mt-4">
      <button mat-flat-button color="primary" class="mx-2" (click)="signIn()">
        Sign In
      </button>
      <button mat-flat-button color="warn" class="mx-2">Sign Out</button>
    </div>
  </form>
</div>
