<div
  class="container w-75 p-0 d-flex font-reset align-items-center justify-content-between"
  style="height: 42px; color: #666666"
>
  <div class="p-0 m-0">Welcome to worldwide Megamart!</div>
  <div class="d-flex flex-row">
    <div class="d-flex align-items-center">
      <mat-icon role="button">location_on_outlined_icon</mat-icon>
      <span class="px-1" role="button">Deliver to</span>
      <span class="fw-normal" role="button">25001</span>
    </div>
    <div class="d-flex align-items-center">
      <span class="px-1" style="color: #d9d9d9">|</span>
      <mat-icon role="button"> local_shipping_outlined_icon </mat-icon>
      <div class="px-1" role="button">Track your order</div>
    </div>
    <div class="d-flex align-items-center">
      <span class="px-1" style="color: #d9d9d9">|</span>
      <mat-icon role="button"> loyalty_outlined_icon </mat-icon>
      <div class="px-1" role="button">All Offers</div>
    </div>
  </div>
</div>
